### Node ###
# Logs
logs
*.log
npm-debug.log*

# IDE - VSCode #
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# img #
*.jpg
*.png

# videos #
*.mp4

# log #
*.log